* {
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;


}

#container {
    display: grid;
    width: auto;
    height: auto;

}

.cell {

    border: 1px solid;
    width: 20px;
    height: 20px;
}