* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.buttons {
    display: flex;
    justify-content: center;
}

.grid {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 500px;
    position: relative;
}

#gridContainer {
    display: grid;

    width: 500px;
    height: 500px;
}

.cell {
    border: 1px solid;
}